Config(
  options: {":prefix": ["/path/to/options.json"] }, // You can obtain NixOS's options.json using config.system.build.manual.optionsJSON
  min_score: 0, // Optional, the minimum score of entries to show. Set it to a larger value on slow machines. Default: 0
  nixpkgs_url: "https://github.com/NixOS/nixpkgs/blob/nixos-unstable", // Optional, URL to Nixpkgs tree. Set it to use the same branch as you're using. Defaults to the unstable url.
  max_entries: Some(10) // max_entries specific to this plugin. Set to None to disable
)
